<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()} />
    <%= live_title_tag(assigns[:page_title] || "ScrumPoker") %>
    <link rel="icon" type="image/x-icon" href={Routes.static_path(@conn, "/favicon-32x32.png")} />
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </head>
  <body class="bg-gray-900 text-white">
    <div class="grid gap-2 p-4 fixed bottom-2 left-2 justify-items-start">
      <Flash.alert flash={@flash} level={:info} />
      <Flash.alert flash={@flash} level={:error} />
    </div>

    <.nav current_user={@current_user} />
    <%= @inner_content %>
  </body>
</html>
